<!-- <h2>Employee Table</h2><br> -->
<br><br>
<form #form="ngForm" class="center" *ngIf="isDisplay">
  <div class="container">
    <div class="row col-md-4">

      <div>
        <input type="text" class="form-control" name="id" id="id" placeholder="Enter ID" autocomplete="off"
          [(ngModel)]="employeeObj.id" required>
      </div><br>
      <div class="mb-3">
        <input type="text" class="form-control" name="name" id="name" minlength="4" placeholder="Enter Name"
          autocomplete="off" [(ngModel)]="employeeObj.name" required>

        <div *ngIf="!name?.valid && (name?.dirty || name?.touched)" class="error">
          <div *ngIf="name.errors.required">
            First Name is required
          </div>
          <div *ngIf="name.errors.minlength">
            First Name Minimum Length is {{name.errors.minlength?.requiredLength}}
          </div>
        </div>

      </div><br>

      <div>
        <input type="text" class="form-control" name="phone" maxlength="10" id="phone" placeholder="Enter Phone Number"
          autocomplete="off" [(ngModel)]="employeeObj.phone" #phone1="ngModel" (keypress)="OnlyNumber($event)" required>
        <span *ngIf="phone1.touched && phone1.invalid" class="invalid-feedback">
          <span *ngIf="phone1.errors.required">10 Digit Phone is required</span>
        </span>
      </div><br>

      <div>
        <input type="text" class="form-control" name="city" id="city" placeholder="Enter City" autocomplete="off"
          [(ngModel)]="employeeObj.city" required>
      </div><br>

      <div>
        <input type="text" class="form-control" name="address_line1" id="address_line1" placeholder="Enter Address1"
          autocomplete="off" [(ngModel)]="employeeObj.address_line1" required>
      </div><br>

      <div>
        <input type="text" class="form-control" name="address_line2" id="address_line2" placeholder="Enter Address2"
          autocomplete="off" [(ngModel)]="employeeObj.address_line2" required>
      </div><br>

      <div>
        <input type="text" class="form-control" name="postal_code" id="postal_code" placeholder="Enter Postal Code"
          autocomplete="off" [(ngModel)]="employeeObj.postal_code" required>
      </div><br>

      <button type="button" class="btn btn-primary" (click)="addEmployees(form.value)" *ngIf="!isEdit"
        [disabled]="!form.valid">Submit</button>

      <button type="button" class="btn btn-info" *ngIf="isEdit" (click)="updateEmployees()">Update</button>
    </div>
  </div>
</form>

<div class="float:left;">
  <button type="button" (click)="display()">New Data</button>
</div>

<br><br>

<div class="navbar col-md-4">
  <input class="form-control" type="text" name="name" [(ngModel)]="name" (ngModelChange)="Search()"
    placeholder="Enter Name" autocomplete="off">
</div><br><br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Address_Line1</th>
      <th scope="col">Address_Line2</th>
      <th scope="col">Postal_Code</th>
      <th scope="col">Update</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of allUser">
      <td>{{emp.id}}</td>
      <td>{{emp.name}}</td>
      <td>{{emp.phone}}</td>
      <td>{{emp.address_line1}}</td>
      <td>{{emp.address_line2}}</td>
      <td>{{emp.postal_code}}</td>
      <td (click)="edit(emp)" class="danger btn-danger">Update</td>
    </tr>
  </tbody>
</table>